


body{margin: 0;padding: 0;}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
#Pasto3{
  background-size:contain;background-repeat: no-repeat;background-position: center;
  top:0vh;
  height:100%;
  width:100%;
  position:absolute;
  z-index: -1;
}


#ME{
  background-size:contain;background-repeat: no-repeat;background-position: center;
  font-size: 11vh;
  color: rgb(255, 255, 255);
}




#padre{
    display: flex;
    flex-direction: row;
   
    align-items: stretch;
    width: 100vw;
    height: 90vh;
    
}

.divClass{
 height: 100%;
word-wrap: break-word;
font-size: 3vh;
}

#divIZ{
  display: flex;flex-direction: row;flex-wrap: wrap; width: 40;height:90% ; justify-content: space-around; 
  margin-left: 2vw ;
  font-size: 5.5vh;
  color: rgb(255, 255, 255);
}

#divME{  
    display: flex;flex-direction: column;
  
    width: 60%;
}
#titulo{width: 60vw;}
#miergoles{font-size: 6vw;text-align: center;}

.video-responsive{
  display:flex;align-items: center;justify-content: center;
    margin-left: 2%;margin-top: 4%;
    width:95%;height:75%;
   background-color: rgb(222, 235, 225);
   
}
#ytVideo{
  height:98%;
  width:99%;
}
#encabezado{width: 100%;height: 12%;}
.botonLista{ width: 75%;height: 6%; font-size:3vh; border-radius: .3em;text-align: center;  }
.botonListax{ width: 16%;height: 6%; font-size:3vh; border-radius: .3em; }


.boton {
   margin-top: 4px;
    border-radius: .3em;        /* redondea borde */
    transition-duration: 0.4s; /* efecto hover */
    font-size: 4.5vh;           /* tamaño fuente */
  
    border: thin solid rgb(00, 70, 1);  /* borde solido y con color */
    border-width:.1em;   /* ancho del borde */
    width: 99vw;           /* ancho del boton */
    height:8vh;           /* alto del boton */
    background-color: rgb(00, 170, 51);  /* color de fondo */
    color: rgb(255, 255, 255);              /* color de letra */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 4px 7px 0 rgba(0,0,0,0.19);/* efecto de sombra */
}
.boton:hover {      /* efecto hover */
    background-color: rgb(00, 170, 51); /* color de fondo */
    color: rgb(254, 255, 254);              /* color de letra */
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);/* efecto de sombra */
}


/*"""""""""""   MOVIL """"""""""*/
@media screen and (orientation:portrait) { 
    .boton {  
      background-color: rgb(00, 170, 51);  
      width: 99%;height:26%;
      font-size: 3vh;  
      }
      #padre{
        flex-direction: column;
      align-content: flex-start;
    }
    #titulo{width: 100vw;height: 1px;}
      #divIZ{position: absolute; width: 95vw; height: 50%;bottom:3vh;font-size: 5.5vw;}
      #divME{position: absolute; width: 95vw; height: 60%;top:15vh;   }
      #miergoles{font-size: 10vw;}
      #encabezado{font-size: 5vw;}
      .video-responsive{
        display:flex;align-items: center;justify-content: center;
          margin-left: 2%;margin-top: 4%;
          width:95%;height:100%;
         background-color: rgb(222, 235, 225);
         
      }
    .botonLista{ font-size:3.5vw;}
    .botonListax{ font-size: 3.5vw;}
  }
  @media screen and (orientation:landscape) and (max-width: 900px) { 
    .boton {background-color: rgb(00, 170, 51);    font-size: 5.4vh; }    
    #divME{font-size: 5vh; }
    #miergoles{font-size: 8vh;}
    .botonLista{ font-size:3vh;}
    .botonListax{ font-size: 3vh;}
   
  }